<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.defa.data.core.UserRoleRelationMapper">
  <resultMap id="BaseResultMap" type="com.defa.model.core.UserRoleRelationKey">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.defa.model.core.UserRoleRelationKey">
    delete from t_user_role_relation
    where user_id = #{userId,jdbcType=INTEGER}
      and role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.defa.model.core.UserRoleRelationKey">
    insert into t_user_role_relation (user_id, role_id)
    values (#{userId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.defa.model.core.UserRoleRelationKey">
    insert into t_user_role_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
    <delete id="deleteByRoleId" parameterType="java.lang.Integer">
    delete from t_user_role_relation
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List">  
		insert into t_user_role_relation (user_id, role_id)
		values  
		<foreach collection="list" item="item" index="index" separator="," >  
			(#{item.userId}, #{item.roleId})
		</foreach>  
	</insert>
  
</mapper>